{extend name="common/base"/}
{block name="style"}
<style>
.layui-table-min th{font-size:13px; text-align:center; background-color:#f8f8f8;}
.layui-table-min td{font-size:13px; padding:6px;text-align:center;}
</style>
  <link rel="stylesheet" href="{__JS__}/module/dtree/dtree.css">
  <link rel="stylesheet" href="{__JS__}/module/dtree/font/dtreefont.css">
{/block}
<!-- 主体 -->
{block name="body"}
<form class="layui-form body-content">
	<h3 class="h3-title">开票信息</h3>
	{if condition="($id == 0)"}
	<table class="layui-table">
		<tr>
			<td class="layui-td-gray">开票金额<span style="color: red">*</span></td>
			<td>
				<input type="text" class="layui-input" name="amount" lay-verify="required" placeholder="请输入开票金额" lay-reqText="请输入开票金额" value="">	
			</td>
			<td class="layui-td-gray2">开票类型<span style="color: red">*</span></td>
			<td>
			<select name="invoice_type" lay-verify="required"  lay-reqText="请选择开票类型">
				<option value="">请选择开票类型</option>
				<option value="1">增值税专用发票</option>
				<option value="2">增值税普通发票</option>
			  </select>
			</td>
			<td class="layui-td-gray2">发票审核人<span style="color: red">*</span></td>
			<td>
			<select name="invoice_type" lay-verify="required"  lay-reqText="请选择开票类型">
				<option value="">请选择开票类型</option>
				<option value="1">增值税专用发票</option>
				<option value="2">增值税普通发票</option>
			  </select>
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray2">抬头类型<span style="color: red">*</span></td>
			<td>
				<input type="radio" name="status" value="1" title="企业" checked>
				<input type="radio" name="status" value="2" title="个人">
			</td>
			<td class="layui-td-gray">开票抬头<span style="color: red">*</span></td>
			<td><input type="text" name="invoice_title" class="layui-input" value=""></td>
			<td class="layui-td-gray">电话号码<span style="color: red">*</span></td>
			<td><input type="text" name="invoice_phone" class="layui-input" value=""></td>
		</tr>
		<tr>
			<td class="layui-td-gray2">纳税人识别号<span style="color: red">*</span></td>
			<td><input type="text" name="invoice_tax" class="layui-input" value=""></td>
			<td class="layui-td-gray2">开户行<span style="color: red">*</span></td>
			<td><input type="text" name="invoice_bank" class="layui-input" value=""></td>
			<td class="layui-td-gray2">银行账号<span style="color: red">*</span></td>
			<td><input type="text" name="invoice_banking" class="layui-input" value=""></td>
		</tr>
		<tr>
			<td class="layui-td-gray2">银行营业网点<span style="color: red">*</span></td>
			<td><input type="text" name="invoice_banking" class="layui-input" value=""></td>
			<td class="layui-td-gray2">地址<span style="color: red">*</span></td>
			<td colspan="3"><input type="text" name="invoice_address" class="layui-input" value=""></td>
		</tr>
		<tr>
			<td class="layui-td-gray2">备注信息</td>
			<td colspan="5"><textarea name="remark" placeholder="请输入备注信息" class="layui-textarea"></textarea></td>
		</tr>
	</table>
	{else/}
		<table class="layui-table">
		<tr>
			<td class="layui-td-gray">开票金额<span style="color: red">*</span></td>
			<td>
				<input type="text" class="layui-input" name="amount" lay-verify="required" placeholder="请输入开票金额" lay-reqText="请输入开票金额" value="">	
			</td>
			<td class="layui-td-gray2">开票类型<span style="color: red">*</span></td>
			<td>
			<select name="invoice_type" lay-verify="required"  lay-reqText="请选择开票类型">
				<option value="">请选择开票类型</option>
				<option value="1">增值税专用发票</option>
				<option value="2">增值税普通发票</option>
			  </select>
			</td>
			<td class="layui-td-gray2">发票审核人<span style="color: red">*</span></td>
			<td>
			<select name="invoice_type" lay-verify="required"  lay-reqText="请选择开票类型">
				<option value="">请选择开票类型</option>
				<option value="1">增值税专用发票</option>
				<option value="2">增值税普通发票</option>
			  </select>
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray2">抬头类型<span style="color: red">*</span></td>
			<td>
				<input type="radio" name="status" value="1" title="企业" checked>
				<input type="radio" name="status" value="2" title="个人">
			</td>
			<td class="layui-td-gray">开票抬头<span style="color: red">*</span></td>
			<td><input type="text" name="invoice_title" class="layui-input" value=""></td>
			<td class="layui-td-gray">电话号码<span style="color: red">*</span></td>
			<td><input type="text" name="invoice_phone" class="layui-input" value=""></td>
		</tr>
		<tr>
			<td class="layui-td-gray2">纳税人识别号<span style="color: red">*</span></td>
			<td><input type="text" name="invoice_tax" class="layui-input" value=""></td>
			<td class="layui-td-gray2">开户行<span style="color: red">*</span></td>
			<td><input type="text" name="invoice_bank" class="layui-input" value=""></td>
			<td class="layui-td-gray2">银行账号<span style="color: red">*</span></td>
			<td><input type="text" name="invoice_banking" class="layui-input" value=""></td>
		</tr>
		<tr>
			<td class="layui-td-gray2">银行营业网点<span style="color: red">*</span></td>
			<td><input type="text" name="invoice_banking" class="layui-input" value=""></td>
			<td class="layui-td-gray2">地址<span style="color: red">*</span></td>
			<td colspan="3"><input type="text" name="invoice_address" class="layui-input" value=""></td>
		</tr>
		<tr>
			<td class="layui-td-gray2">备注信息</td>
			<td colspan="5"><textarea name="remark" placeholder="请输入备注信息" class="layui-textarea"></textarea></td>
		</tr>
	{/if}

	<div class="layui-form-item" style="padding-top:10px;">
		<input name="id" id="id" type="hidden" value="{$id}">
		<button class="layui-btn" lay-submit="" lay-filter="webform">立即提交</button>
		<button type="reset" class="layui-btn layui-btn-primary">重置</button>
	</div>
</form>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
	<script>
	function init(layui){
		var form = layui.form
		  ,layer = layui.layer
		  ,laydate = layui.laydate;

		//监听提交
		form.on('submit(webform)', function(data){
		  	var interfix = $('.more_interfix');
			if(interfix.length <1 ){ 
				layer.msg('至少要保留一个报销选项');
				return false;
			}
			$.ajax({
			  url:"{:url('/home/expense/add')}",
			  type:'post',
			  data:data.field,
			  success:function(e){
				layer.msg(e.msg);
				if(e.code==0){
					parent.location.reload();
				}
			  }
			})
			return false;
		});
	}
		
	</script>
{include file="common/layui" base='base' extend="[]" callback="init" /}
{/block}
<!-- /脚本 -->