{extend name="../../base/view/common/base" /}
<!-- 主体 -->
{block name="body"}
<form class="layui-form p-4">
	<h3 class="pb-3">编辑合同</h3>
    <table class="layui-table layui-table-form">
		{gt name="$detail.pid" value="0"}
		 <tr>
			<td class="layui-td-gray">母合同名称</td>
			<td colspan="5">{$detail.pname}</td>
		  </tr>
		{/gt}
      <tr>
        <td class="layui-td-gray">合同名称<font>*</font></td>
        <td colspan="3"><input type="text" name="name" value="{$detail.name}" lay-verify="required" lay-reqText="请输入合同名称" autocomplete="off" placeholder="请输入合同名称" class="layui-input"></td>
		<td class="layui-td-gray">合同性质</td>
        <td>
			{eq name="$detail.type" value="1" }普通合同{/eq}
            {eq name="$detail.type" value="2" }框架合同{/eq}
            {eq name="$detail.type" value="3" }补充协议{/eq}
            {eq name="$detail.type" value="4" }其他合同{/eq}
        </td>
      </tr>
      <tr>
        <td class="layui-td-gray">合同编号<font>*</font></td>
        <td>
          <input type="text" name="code" value="{$detail.code}" autocomplete="off" lay-verify="required" lay-reqText="请输入合同编号" placeholder="请输入合同编号" class="layui-input">
        </td>
        <td class="layui-td-gray">签约主体<span style="font-size:12px;">(甲方)</span><font>*</font></td>
        <td>
          <select name="subject_id" lay-verify="required" lay-reqText="请选择签约主体公司">
            <option value="">请选择签约主体公司</option>
            {volist name=":contract_subject()" id="v"}
            <option value="{$v.id}" {eq name="$v.id" value="$detail.subject_id" } selected{/eq}>{$v.title}</option>
            {/volist}
          </select>
        </td>
	    <td class="layui-td-gray">合同类别<font>*</font></td>
        <td>
          <select name="cate_id" lay-verify="required" lay-reqText="请选择合同类别">
            <option value="">请选择合同类别</option>
            {volist name=":contract_cate()" id="v"}
            <option value="{$v.id}" {eq name="$v.id" value="$detail.cate_id" } selected{/eq}>{$v.title}</option>
            {/volist}
          </select>
        </td>
      </tr>
	  <tr>
        <td class="layui-td-gray">客户名称<span style="font-size:12px;">(乙方)</span><font>*</font></td>
        <td>
          <input type="text" name="customer" value="{$detail.customer}" autocomplete="off" lay-verify="required" lay-reqText="请输入客户名称" placeholder="请输入客户名称" class="layui-input">
        </td>
        <td class="layui-td-gray">签约客户代表</td>
        <td>
          <input type="text" name="customer_name" value="{$detail.customer_name}" autocomplete="off" lay-verify="required" lay-reqText="请输入客户代表姓名" placeholder="请输入客户代表姓名" class="layui-input">
        </td>
		<td class="layui-td-gray">客户联系电话<font>*</font></td>
        <td>
			<input type="text" name="customer_mobile" value="{$detail.customer_mobile}" autocomplete="off" lay-verify="required" lay-reqText="请输入客户联系电话" placeholder="请输入客户联系电话" class="layui-input">
        </td>
      </tr>
	   <tr>
        <td class="layui-td-gray-2">客户联系地址</td>
        <td>
          <input type="text" name="customer_address" value="{$detail.customer_address}" autocomplete="off" placeholder="请输入客户联系地址" class="layui-input">
        </td>
        <td class="layui-td-gray-2">合同开始日期<font>*</font></td>
        <td>
          <input type="text" name="start_time" value="{$detail.start_time}" readonly lay-verify="required" lay-reqText="请选择合同开始时间" placeholder="请选择合同开始时间" class="layui-input select-time">
        </td>
		<td class="layui-td-gray-2">合同结束日期<font>*</font></td>
        <td>
			<input type="text" name="end_time" value="{$detail.end_time}" readonly lay-verify="required" lay-reqText="请选择合同结束时间" placeholder="请选择合同结束时间" class="layui-input select-time">
        </td>
      </tr>
	  {neq name="$detail.type" value="2"}
      <tr>
        <td class="layui-td-gray">合同金额{eq name="$detail.type" value="1"}<font>*</font>{/eq}</td>
        <td>
           <input type="text" name="cost" value="{$detail.cost}" {eq name="$detail.type" value="1"} lay-verify="required|number"{/eq} lay-reqText="请输入合同金额，数字" placeholder="请输入合同金额，数字" autocomplete="off" class="layui-input">
        </td>
        <td class="layui-td-gray">是否含税</td>
        <td>
          <input type="radio" name="is_tax" value="1" title="是" {eq name="$detail.is_tax" value="1" } checked{/eq} lay-filter="tax">
          <input type="radio" name="is_tax" value="0" title="否" {eq name="$detail.is_tax" value="0" } checked{/eq} lay-filter="tax">
        </td>
        <td class="layui-td-gray">税点(百分比)</td>
        <td>
          <input type="text" name="tax" value="{$detail.tax}" 
          <input type="text" name="tax" value="" lay-verify="number" placeholder="请输入税点，数字" autocomplete="off" class="layui-input" {eq name="$detail.is_tax" value="0" } style="display:none;"{/eq}>
        </td>
      </tr>
	  {/neq}
	  <tr>
		<td colspan="6"><strong>签订信息</strong></td>
	  </tr>
	  <tr>
        <td class="layui-td-gray-2">合同签订人<font>*</font></td>
        <td>
          <input type="text" name="sign_name" value="{$detail.sign_name}" autocomplete="off" readonly placeholder="请选择合同签订人" class="layui-input">
          <input type="hidden" name="sign_uid" value="{$detail.sign_uid}" lay-verify="required" lay-reqText="请选择合同签订人">
          <input type="hidden" name="sign_did" value="{$detail.sign_did}">
        </td>
		<td class="layui-td-gray-2">合同签订时间<font>*</font></td>
        <td>
			<input type="text" name="sign_time" value="{$detail.sign_time}" readonly lay-verify="required" lay-reqText="请选择合同签订日期" placeholder="请选择合同签订日期" class="layui-input select-time">
        </td>
        <td class="layui-td-gray-2">合同签订部门</td>
        <td>
          <input type="text" name="sign_department" value="{$detail.sign_department}" autocomplete="off" readonly class="layui-input">
        </td>
      </tr>
	  <tr>
        <td class="layui-td-gray-2">合同制定人<font>*</font></td>
        <td>
          <input type="text" name="prepared_name" value="{$detail.prepared_name}" autocomplete="off" readonly placeholder="请选择合同制定人" class="layui-input">
		  <input type="hidden" name="prepared_uid" value="{$detail.prepared_uid}" lay-verify="required" lay-reqText="请选择合同制定人">
        </td>
        <td class="layui-td-gray-2">合同保管人<font>*</font></td>
        <td>
          <input type="text" name="keeper_name" value="{$detail.keeper_name}" autocomplete="off" readonly placeholder="请选择合同保管人" class="layui-input">
		  <input type="hidden" name="keeper_uid" value="{$detail.keeper_uid}" lay-verify="required" lay-reqText="请选择合同保管人">
        </td>
		<td class="layui-td-gray">合同共享人员</td>
        <td>
			<input type="text" name="share_names" value="{$detail.share_names}" autocomplete="off" readonly placeholder="请选择共享人员" class="layui-input">
			<input type="hidden" name="share_ids" value="{$detail.share_ids}">
        </td>
      </tr>
	   <tr>
		<td colspan="6"><strong>备注信息</strong></td>
	  </tr>
      <tr>
        <td colspan="6">
          <textarea name="remark" placeholder="请输入备注信息" class="layui-textarea">{$detail.remark}</textarea>
        </td>
      </tr>
    </table>
    <div class="py-3">
		<input type="hidden" name="id" value="{$detail.id}">
		<input type="hidden" name="scene" value="edit">
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">立即提交</button>
		<button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
</form>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	const moduleInit = ['tool','employeepicker'];
	function gouguInit() {
		var form = layui.form,tool=layui.tool,laydate = layui.laydate,employeepicker = layui.employeepicker;
		//日期
		lay('.select-time').each(function () {
			laydate.render({
				elem: this,
				trigger: 'click'
			});
		});
		
		//选择合同签订人弹窗	
		$('body').on('click','[name="sign_name"]',function () {
			var ids=$('[name="sign_uid"]').val(),names=$('[name="sign_name"]').val();
			employeepicker.init({
				ids:ids,
				names:names,
				type:0,
				department_url: "/api/index/get_department_tree",
				employee_url: "/api/index/get_employee",
				callback:function(ids,names,dids,departments){
					$('[name="sign_uid"]').val(ids);
					$('[name="sign_name"]').val(names);
					$('[name="sign_did"]').val(dids);
					$('[name="sign_department"]').val(departments);
				}
			});
		});
		
		//选择合同制定人弹窗	
		$('body').on('click','[name="prepared_name"]',function () {
			var ids=$('[name="prepared_uid"]').val(),names=$('[name="prepared_name"]').val();
			employeepicker.init({
				ids:ids,
				names:names,
				type:0,
				department_url: "/api/index/get_department_tree",
				employee_url: "/api/index/get_employee",
				callback:function(ids,names,dids,departments){
					$('[name="prepared_uid"]').val(ids);
					$('[name="prepared_name"]').val(names);
				}
			});
		}); 
		
		//选择合同保管人弹窗	
		$('body').on('click','[name="keeper_name"]',function () {
			var ids=$('[name="keeper_uid"]').val(),names=$('[name="keeper_name"]').val();
			employeepicker.init({
				ids:ids,
				names:names,
				type:0,
				department_url: "/api/index/get_department_tree",
				employee_url: "/api/index/get_employee",
				callback:function(ids,names,dids,departments){
					$('[name="keeper_uid"]').val(ids);
					$('[name="keeper_name"]').val(names);
				}
			});
		});
	
	
		//选择共享成员弹窗	
		$('body').on('click','[name="share_names"]',function () {
			var ids=$('[name="share_ids"]').val(),names=$(this).val(),share_ids_array=[],share_names_array=[];
			if(ids.length>0){
				share_ids_array=ids.split(',');
				share_names_array=names.split(',');
			}
			employeepicker.init({
				ids:share_ids_array,
				names:share_names_array,
				type:1,
				department_url: "/api/index/get_department_tree",
				employee_url: "/api/index/get_employee",
				callback:function(ids,names,dids,departments){
					$('[name="share_ids"]').val(ids);
					$('[name="share_names"]').val(names);
				}
			});
		});

		//radio选择
		form.on('radio(tax)', function(data){
			if(data.value == 0){
				$('[name="tax"]').val('0').hide();
			}else{
				$('[name="tax"]').val('').show();
			}
		});

		//监听提交
		form.on('submit(webform)', function (data) {
			if (data.field.type == 1 && data.field.cost == '') {
				layer.msg('请完善合同金额');
				return false;
			}
			if (data.field.is_tax == 1 && data.field.tax == '') {
				layer.msg('请完善税点');
				return false;
			}
			if (data.field.is_tax == 1 && data.field.cost == '') {
				layer.msg('请完善金额');
				return false;
			}
			let callback = function (e) {
				layer.msg(e.msg);
				if (e.code == 0) {
					parent.layui.tool.close(1000);
				}
			}
			tool.post("/contract/index/add", data.field, callback);
			return false;
		});

	}
</script>
{/block}
<!-- /脚本 -->