{extend name="../../base/view/common/base" /}
<!-- 主体 -->
{block name="body"}
<form class="layui-form p-4">
	<h3 class="pb-3">权限配置</h3>
	<table class="layui-table layui-table-form">
		<tr>
			<td colspan="4" class="red" style="line-height:1.8">
				<p><strong>合同模块使用说明：</strong></p>
				<p><strong>1、设置合同管理员，可设置多个</strong></p>
				<p style="text-indent:2em">a、拥有合同管理员权限的员工可以查看、编辑、作废、中止所有合同。</p>
				<p style="text-indent:2em">b、非合同管理员的员工，可查看（合同制定人、合同签订人、合同保管人、合同共享人员、合同录入人）相关联的合同。</p>
				<p style="text-indent:2em; margin-bottom:8px">c、合同的编辑权限只有合同录入人和合同管理员拥有。</p>
				<p><strong>2、合同状态有：已录入、待审核、已审核、已中止、已作废</strong></p>
				<p style="text-indent:2em">a、合同只有在已录入的状态才可以编辑，其他状态情况下需要编辑，需要合同管理员反操作该状态才能编辑。</p>
				<p style="text-indent:2em">b、合同录入后，提交审核申请，然后由合同管理员审核。</p>
				<p style="text-indent:2em">c、审核通过后，也是由合同管理员进行归档。</p>
				<p style="text-indent:2em">d、合同实际中止后，合同管理员也需要对合同进行中止操作。</p>
				<p style="text-indent:2em; margin-bottom:8px">e、合同实际作废后，管理员也需要对合同进行作废操作。</p>
				<p><strong>3、系统会记录每一次合同的操作记录</strong></p>
				<p style="text-indent:2em">a、记录每一次合同的操作记录，防止合同被误操作和后期问题追踪。</p>
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">权限名称</td>
			<td>
				<input type="hidden" name="id" value="{$detail.id}" />
				{$detail.title}
			</td>
			<td class="layui-td-gray">权限标识</td>
			<td>{$detail.name}</td>
		</tr>
		<tr>
			<td class="layui-td-gray">权限人员<font>*</font>
			</td>
			<td colspan="3">
				<input type="text" id="unames" name="unames" value="{$detail.unames}" readonly placeholder="请选择权限人员" autocomplete="off" class="layui-input picker-more">
				<input type="hidden" id="uids" name="uids" value="{$detail.uids}" lay-verify="required" lay-reqText="请选择权限人员">
			</td>
		</tr>
		<tr>
			<td colspan="4">
				<span class="red" style="font-size: 12px;">{$detail.desc}</span>
			</td>
		</tr>
	</table>
	<div class="py-3">
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">立即提交</button>
		<button type="reset" class="layui-btn layui-btn-primary">重置</button>
	</div>
</form>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	const moduleInit = ['tool','employeepicker'];
	function gouguInit() {
		var form = layui.form, tool = layui.tool;		
		//监听提交
		form.on('submit(webform)', function (data) {
			let callback = function (e) {
				layer.msg(e.msg);
			}
			tool.post("/contract/cate/conf", data.field, callback);
			return false;
		});
	}
</script>
{/block}
<!-- /脚本 -->