{extend name="../../base/view/common/base" /}
{block name="body"}
<form class="layui-form p-4">
	<h3 class="pb-3">汇报详情</h3>
	<table class="layui-table">
		<tr>
			<td class="layui-td-gray">汇报人</td>
			<td>{$detail.person_name}</td>
			<td class="layui-td-gray">汇报类型</td>
			<td>{$detail.type_title}</td>
			<td class="layui-td-gray">汇报时间</td>
			<td>{$detail.send_time}</td>
		</tr>
		<tr>
			<td class="layui-td-gray">接收人</td>
			<td colspan="5">{$detail.users}</td>
		</tr>
		{notempty name="$detail.read_users"}
		<tr>
			<td class="layui-td-gray">已读回执</td>
			<td colspan="5">{$detail.read_users}</td>
		</tr>
		{/notempty}
		<tr>
			<td class="layui-td-gray" style="vertical-align:top;">工作内容</td>
			<td colspan="5">
				{:nl2br($detail.works)}
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray" style="vertical-align:top;">工作计划</td>
			<td colspan="5">
				{:nl2br($detail.plans)}
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray" style="vertical-align:top;">其他事项</td>
			<td colspan="5">
				{:nl2br($detail.remark)}
			</td>
		</tr>
		{notempty name="$detail.file_array"}
		<tr>
			<td class="layui-td-gray" style="vertical-align:top">相关附件</td>
			<td colspan="5" style="line-height:inherit">
				<div class="layui-row" id="fileList">
					{volist name="$detail.file_array" id="vo"}
					<div class="layui-col-md4" id="uploadImg{$vo.id}">{:file_card($vo,'view')}</div>
					{/volist}
				</div>
			</td>
		</tr>
		{/notempty}
	</table>
	{gt name="$detail.update_time" value="0"}
	<div style="color:#999; padding:10px 0">该汇报于 {$detail.update_time_str} 进行过编辑</div>
	{/gt}
</form>
{/block}
<!-- /主体 -->
<!-- 脚本 -->
{block name="script"}
<script>
const moduleInit = ['tool','formSelects','employeepicker','oaTool'];
</script>
{/block}